html,
body {
    height: 100%;
    margin: 0;
}

#wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items:stretch;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 180px;
    background-color: #1F2937;
}

.header-list {
    list-style-type: none;
    display: flex;
    gap: 22px;
}
.header-link {
    text-decoration: none;
    color: #E5E7Eb;
    font-size: 18px;
}

.header-image {
    height: 300px;
    width: auto
}

#header-title {
    font-size: 24px;
    color: #F9FAF8;
}

#header-sign {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0px;
}

#header-text {
    color: #E5E7Eb;
    font-size: 18px;
}

#header-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 6px;
    padding: 8px;
    border-color: #3882F6;
}


.header-up,
.header-down {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}


