html,
body {
    height: 100%;
    margin: 0;
}

#wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items:stretch;
}

/*  HEADER  */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 180px;
    background-color: #1F2937;
}

.header-list {
    list-style-type: none;
    display: flex;
    gap: 22px;
}
.header-link {
    text-decoration: none;
    color: #E5E7Eb;
    font-size: 18px;
}

.header-image {
    height: 300px;
    width: auto;
    border-radius: 6px;
}

#header-title {
    font-size: 24px;
    color: #F9FAF8;
}

#header-sign {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0px;
}

#header-text {
    color: #E5E7Eb;
    font-size: 18px;
}

#header-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 6px;
    padding: 8px;
    border-color: #3882F6;
}


.header-up,
.header-down {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

/*  INFO  */

#info {
    padding: 10px 180px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
}

#info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

/* .info-doggos {
    width: 200px;
    border-radius: 5px;
} */

/* #info-info {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
} */

/* .image-and-text {
    font-size: 20px;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* COPIED STYLE FROM https://codepen.io/Oral_Seventhplanet/pen/Bazxpdq */

.container {
    position: relative;
    width: 1160px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    margin: auto;
  }
  .container .box {
    position: relative;
    width: 275px;
    height: 275px;
    background: #000;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 45px;
  }
  .container:hover .box {
    transform: rotateY(25deg);
  }
  .container .box:hover ~ .box {
    transform: rotateY(-25deg);
  }
  .container .box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
  }
  .container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .container .box .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #353f4b, #000);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
  }
  .container .box:hover .imgBx:before {
    opacity: 1;
  }
  .container .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
  }
  .container .box .content h2 {
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
    transition-delay: 0.3s;
  }
  .container .box:hover .content h2 {
    transform: translateY(0px);
  }
  .container .box .content p {
    color: #fff;
    transition: 0.5s;
    font-size: 14px;
    transform: translateY(200px);
    transition-delay: 0.4s;
  }
  .container .box:hover .content p {
    transform: translateY(0px);
  }

  /* quote */

  #ricky {
    width: 350px;
    border-radius: 4px;
  }

  #quote {
    background-color: #E5E7Eb;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  #quote-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #real-quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
  }
  #author {
    text-align: end;
    font-weight: bolder;
  }

  #quote-right {
    margin: 40px;
  }

